[Unit]
Description=Hotels-service java app
After=envoy.service


[Service]
User=vagrant
WorkingDirectory=/home/vagrant/hotel-service
ExecStart=/usr/bin/java -jar /home/vagrant/hotel-service/target/app.jar
Restart=always
Environment="POSTGRES_HOST=localhost"
Environment="POSTGRES_PORT=5432"
Environment="POSTGRES_DB={{ db_name }}"
Environment="POSTGRES_USER={{ db_user }}"
Environment="POSTGRES_PASSWORD={{ db_user_password }}"
StandardOutput=append:/var/log/hotel-service.log
StandardError=append:/var/log/hotel-service.log

[Install]
WantedBy=envoy.service
