[Unit]
Description=Consul envoy proxy
After=my-consul.service


[Service]
Type=simple
User=consul
Group=consul
ExecStart=/etc/consul.d/run-envoy.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5
Restart=on-failure
RestartSec=2
SyslogIdentifier=envoy

[Install]
WantedBy=my-consul.service
